%h1 Call Your Senator and Representative

%button.switch Switch to Calling Your Representative

%p
  Now, please call your state
  %span.sen
    senator, Senator
    = @person.senator_name
  %span.rep
    representative,
    = "TODO rep name"

  to ask him/her to support
  = BILL

%p
  Below is your
  %span.sen
    senator's
  %span.rep
    representative's
  phone number, followed by a sample script to use when talking to him or her.

%p
  Call
  %span.phonenum.sen= @person.senator_phone
  %span.phonenum.rep TODO representative phone number

%h2 Script

%p
  Dear
  %span.sen
    Senator
    = "#{@person.senator_name}:"
  %span.rep
    Representative,
    = "TODO rep name"

%p
  My name is 

  = succeed '. I live at' do
    %span.bold&== [your name]
  = succeed ", and I am calling today to ask for your support for #{BILL}." do
    - if @person.address
      = @person.full_address
    - else
      %span.bold&== [your address]

%button.switch Switch to Calling Your Representative
