%h1 Call Your Representative

%button.switch Switch to Contacting Your Representative

%p
  Now, please call your state
  %span.sen
    senator, Senator
    = @senator
  %span.rep
    representative,
    = @rep

  to ask him/her to support
  = BILL

%p
  Below is your
  %span.sen
    senator's
  %span.rep
    representative's
  phone number, followed by a sample script to use when talking to him or her.

%p
  Call
  %span.phonenum.sen= @sen_phone1
  - if @sen_phone2
    %span.sen= "[or #{@sen_phone2}]"
  %span.phonenum.rep= @rep_phone1
  - if @rep_phone2
    %span.rep= "[or #{@rep_phone2}]"
%p
  %span.rep
    Or email
    %a{:href => "mailto:#{@rep_email}"}= @rep_email
  %span.sen
    Or email
    %a{:href => "mailto:#{@sen_email}"}= @sen_email


%h2 Sample Script

%p
  Dear
  %span.sen
    Senator
    = "#{@senator}:"
  %span.rep
    Representative
    = "#{@rep}:"

%p
  My name is 

  = succeed '. I live at' do
    %span.bold&== [your name]
  %span.bold&== [your address]
  in
  %span.bold&== [city]

.sen
  - if @sen_sponsorship
    I am calling today to thank you for
    = @sen_sponsorship == 'S' ? 'sponsoring' : 'co-sponsoring'
    Senate Bill 30, the Civil Union bill.  I know that it can be difficult to stand up against vocal minorities who do not recognize the injustice which same-sex couples face.  Thank you for standing with the majority of Delawareans, like myself, who support Civil Unions.
  - else
    I am calling today to encourage you to support Senate Bill 30, the Civil Union bill.  I know that there is a vocal minority that does not recognize the injustice which same-sex couples face.
    %span.bold
      [share one sentence about how you yourself or a friend seek equality.]
    Fortunately the majority of Delawareans, like myself, support Civil Unions, and recognize this as a pure equality issue.  For this reason, I strongly encourage you to join your fellow Senators in supporting Senate Bill 30.

.rep
  - if @rep_sponsorship
    I am calling today to thank you for
    = @rep_sponsorship == 'S' ? 'sponsoring' : 'co-sponsoring'
    Senate Bill 30, the Civil Union bill.  I know that it can be difficult to stand up against vocal minorities who do not recognize the injustice which same-sex couples face.  Thank you for standing with the majority of Delawareans, like myself, who support Civil Unions.
  - else
    I am calling today to encourage you to support Senate Bill 30, the Civil Union bill.  I know that there is a vocal minority that does not recognize the injustice which same-sex couples face.
    %span.bold
      [share one sentence about how you yourself or a friend seeks equality.]
    Fortunately the majority of Delawareans, like myself, support Civil Unions, and recognize this as a pure equality issue.  For this reason, I strongly encourage you to join your fellow Senators in supporting Senate Bill 30.

%button.switch Switch to Contacting Your Representative

%p
  %a{:href => '/'} Go Home
:javascript
  mpmetrics.track('Load call page');
